.rent-cost{
    color: yellow;
    font-size: xx-large;
    margin-top: 20px;
  }

  .rent-button-style{
    display: grid;
    grid-template-columns: 10fr 1fr 0.001fr;
  }


  .rent-form h2 {
    color: #333; /* ciemnoszary kolor tekstu nagłówka */
    font-size: 24px; /* rozmiar czcionki nagłówka */
    margin-bottom: 15px; /* odstęp poniżej nagłówka */
  }

  .rent-form label {
    display: block; /* każdy label w nowej linii */
    margin-bottom: 5px; /* odstęp poniżej labela */
    font-weight: bold; /* pogrubienie tekstu */
  }

  .rent-form input[type="text"],
  .rent-form input[type="email"],
  .rent-form input[type="number"],
  .rent-form select {
    width: 100%; /* pełna szerokość */
    padding: 10px; /* wewnętrzny odstęp */
    margin-bottom: 15px; /* odstęp poniżej pola */
    border: 1px solid #ccc; /* szary kolor obramowania */
    border-radius: 4px; /* zaokrąglone rogi */
  }


  .rent-form button {
    width: 100%; /* Przyciski w formularzu będą miały pełną szerokość */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-style{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
  }


  .selected-skin:hover {
    cursor: pointer;
    transform: scale(1.05);
  }


  .selected-skin {
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px; /* Opcjonalne odstępy wewnętrzne */
    margin: 5px; /* Opcjonalne odstępy zewnętrzne */
    box-sizing: border-box; /* Aby padding i border były wliczane w wymiary elementu */
    height: 90%;
  }
  .ST {
    color: orange;
  }


  .selected-skin img {
    max-width: 100%; /* Utrzymuje responsywność obrazka */
    height: auto; /* Utrzymuje proporcje obrazka */
    border-radius: 4px;
    margin-bottom: 8px; /* Możesz dostosować margines dolny */
  }

  /* Styl głównego kontenera */
  .offer-container {
    background-color: #2b2b2b;       /* Ciemne tło */
    color: #e5e5e5;                  /* Jasnoszary tekst */
    border-radius: 10px;             /* Zaokrąglone rogi */
    padding: 20px;                   /* Odstęp wewnętrzny */
    width: 66%;                     /* Pełna szerokość */
    /* max-width: 800px;                 */
    margin: 0 auto;                  /* Wyśrodkowanie na stronie */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  /* Delikatny cień */
  }

  /* Styl nagłówka */
  .offer-header {
    display: flex;
    justify-content: space-between;  /* Rozdziela elementy na końce */
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
  }

  /* Styl kontenera treści */
  .offer-content {
    text-align: center;
    margin-top: 20px;
  }

  /* Styl nagłówka oferty */
  .offer-content h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
  }

  /* Styl tekstu w ofercie */
  .offer-content p {
    margin: 5px 0 0;
    font-size: 1em;
    color: #a5a5a5;                  /* Lżejszy szary kolor dla opisu */
  }

  /* Styl ikony koszyka */
.icon-basket {
  margin-left: 5px;
  font-size: 1em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  gap: 16px;
  padding: 16px;
  margin-left: 15%;
  margin-right: 15%;
}

@media (max-width: 510px) {
  .grid-container {
    margin-left: 0; /* Usuń marginesy przy bardzo małych ekranach */
    margin-right: 0;
  }
}


.square {
  background-color: #333;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex; /* Użycie flexbox */
  flex-direction: column; /* Ustawia elementy w kolumnie */
  justify-content: space-between; /* Równomierne rozłożenie przestrzeni między elementami */
  height: 91%; /* Stała wysokość dla kontenera */
}

.square img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 4px; /* Zmniejszenie odstępu poniżej obrazka */
}

.square p {
  margin: 4px 0; /* Zmniejszenie marginesu górnego i dolnego dla elementów <p> */
  font-size: 14px;
  color: #333;
}

.selected-skins {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  color: yellow;
  max-height: 25vh; /* Ustaw pożądaną wysokość */
  min-height: 25vh;
  overflow-y: auto; /* Dodaje pionowy pasek przewijania */
  border: 1px solid #ccc; /* Opcjonalnie: dodanie obramowania */
  padding: 10px; /* Opcjonalnie: dodanie odstępu wewnętrznego */

}

.form-style-and-confirm label{
  font-size: 22px;

}

.form-style-and-confirm label input{
  margin-top:7px;
}



/* Styl dla pojedynczego div.square */
.square {
  position: relative; /* Ważne, aby komunikat był umieszczony względem tego div */
  background-color: #333; /* Opcjonalnie, aby wyróżnić tło */
  padding: 16px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px; /* Możesz zmienić wysokość, jeśli potrzebujesz */
}


.square-container {
  position: relative;
}


/* Kontener z przyciskami */
.hover-controls {
  display: none; /* Ukryte domyślnie */
  position: absolute;
  top: calc(100% - 10px); /* Dokładnie pod dolną krawędzią, z lekkim nakryciem */
  left: 50%;
  transform: translateX(-50%); /* Wyśrodkowanie względem karty */
  width: auto; /* Automatyczna szerokość */
  /* background: rgba(0, 0, 0, 0.8); */
  padding: 10px;
  z-index: 3; /* Wyższy niż inne elementy */
  transition: opacity 0.3s ease; /* Animacja widoczności */
  opacity: 0; /* Ukrycie poprzez przezroczystość */
  display: flex; /* Ustawienie wiersza */
  justify-content: center;
  gap: 10px; /* Odstępy między przyciskami */
}

/* Wyświetlanie przycisków na hover */
.square:hover + .hover-controls {
  margin-top: 10px;
  display: flex; /* Wyświetlenie przycisków */
  opacity: 1; /* Pełna widoczność */
}

/* Styl przycisków */
/* .hover-button {
  width: 100%;
  background: yellow;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
} */

.hover-button:hover {
  background-color: orange;
}

.button{
  width: 86%;
}